.Estilo2 {
	font-size: 11px;
	font-family: Tahoma;
	color: #333333;
	font-weight: bold;
}
.textoempresa {
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
}
.Textopequeño {
	font-family: Tahoma;
	font-size: 9px;
	font-weight: normal;
	color: #333333;
}
