vti_encoding:SR|utf8-nl
vinavbar:VW|C:\\\\Archivos\\ de\\ programa\\\\Microsoft\\ FrontPage\\\\version3.0\\\\bots\\\\vinavbar\\\\vinavbar.inf vinavbar E I info N C:\\\\Archivos\\ de\\ programa\\\\Microsoft\\ FrontPage\\\\version3.0\\\\bots\\\\vinavbar\\\\fp30vinav.dll
