<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>
<link href="../CSS/Linksnuevos.css" rel="stylesheet" type="text/css" />
<link href="../CSS/Links_T1T2T3.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="540" border="0" cellspacing="0" class="Borde_tabla_abajo">
  <tr>
    <td colspan="3" bgcolor="#31514A" class="textoempresa"><img src="../Img/titulos_virtual_Cambios.jpg" width="130" height="16" /></td>
  </tr>
  <tr>
    <td colspan="3" class="textoempresa"><table width="538" border="0" cellspacing="0" bgcolor="#CCCCCC">
      <tr>
        <td width="10"><img src="../Img/img_pagempresa/Link_01.jpg" width="10" height="8" /></td>
        <td width="521"><strong class="textoempresa">AFEX Compra US$</strong></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="172" class="textoempresa">Monto US$</td>
    <td width="58" class="textoempresa">:</td>
    <td width="298"><input name="txtMontoC" type="text" class="Borde_tabla_abajo" onkeypress="IngresarTexto(1)" maxlength="10" /></td>
  </tr>
  <tr>
    <td class="textoempresa">Tipo Cambio</td>
    <td class="textoempresa">:</td>
    <td><input name="txtTCC" type="text" disabled="disabled" class="Borde_tabla_abajo" /></td>
  </tr>
  <tr>
    <td class="textoempresa">Total en $</td>
    <td class="textoempresa">:</td>
    <td><input name="txtTotalC" type="text" disabled="disabled" class="Borde_tabla_abajo" /></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><table width="371" border="0" cellspacing="1">
      <tr>
        <td width="10"><img src="../Img/img_pagempresa/Link_01.jpg" width="10" height="8" /></td>
        <td width="354"><b class="Estilo2">Datos para que AFEX deposite los Pesos de esta operaci&oacute;n:</b></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="textoempresa">Banco</td>
    <td class="textoempresa">:</td>
    <td><input name="txtBancoC" type="text" class="Borde_tabla_abajo" onkeypress="IngresarTexto(2)" size="30" maxlength="30" /></td>
  </tr>
  <tr>
    <td class="textoempresa">Cta. Cte.</td>
    <td class="textoempresa">:</td>
    <td><input name="txtCtaCteC" type="text" class="Borde_tabla_abajo" size="30" maxlength="30" /></td>
  </tr>
  <tr>
    <td class="textoempresa">&nbsp;</td>
    <td class="textoempresa"><div align="right"><img src="../Img/igual.jpg" width="13" height="9" /></div></td>
    <td><div align="left">
      <input name="cmdEnviarC" type="button" class="textoempresa" style="cursor: hand" value="Enviar" />
    </div></td>
  </tr>
</table>
<table width="540" border="0" cellspacing="0" class="Borde_tabla_abajo">
  <tr>
    <td colspan="3" bgcolor="#31514A" class="textoempresa"><img src="../Img/titulos_virtual_Cambios.jpg" width="130" height="16" /></td>
  </tr>
  <tr>
    <td colspan="3" class="textoempresa"><table width="538" border="0" cellspacing="0" bgcolor="#CCCCCC">
      <tr>
        <td width="11"><img src="../Img/img_pagempresa/Link_01.jpg" width="10" height="8" /></td>
        <td width="520" class="textoempresa">&nbsp;<strong>AFEX Vende US$</strong></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="174" class="textoempresa">Monto US$</td>
    <td width="57" class="textoempresa">:</td>
    <td width="297"><input name="txtMontoV" type="text" class="Borde_tabla_abajo" onkeypress="IngresarTexto(1)" maxlength="10" /></td>
  </tr>
  <tr>
    <td class="textoempresa">Tipo Cambio</td>
    <td class="textoempresa">:</td>
    <td><input name="txtTCV" type="text" disabled="disabled" class="Borde_tabla_abajo" /></td>
  </tr>
  <tr>
    <td class="textoempresa">Total en $</td>
    <td class="textoempresa">:</td>
    <td><input name="txtTotalV" type="text" disabled="disabled" class="Borde_tabla_abajo" /></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><table width="360" border="0">
      <tr>
        <td width="10"><img src="../Img/img_pagempresa/Link_01.jpg" width="10" height="8" /></td>
        <td width="340"><b class="Estilo2">Datos para que AFEX deposite los Dolares de esta operaci&oacute;n:</b></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="textoempresa">Banco</td>
    <td class="textoempresa">:</td>
    <td><input name="txtBancoV" type="text" class="Borde_tabla_abajo" onkeypress="IngresarTexto(2)" size="30" maxlength="30" /></td>
  </tr>
  <tr>
    <td class="textoempresa">Cta. Cte.</td>
    <td class="textoempresa">:</td>
    <td><input name="txtCtaCteV" type="text" class="Borde_tabla_abajo" size="30" maxlength="30" /></td>
  </tr>
  <tr>
    <td class="textoempresa">&nbsp;</td>
    <td class="textoempresa"><div align="right"><img src="../Img/igual.jpg" width="13" height="9" /></div></td>
    <td><div align="left">
      <input name="cmdEnviarV" type="button" class="textoempresa" style="cursor: hand" value="Enviar" />
    </div></td>
  </tr>
</table>
<table width="540" border="0" cellspacing="0" class="Borde_tabla_abajo">
  <tr>
    <td colspan="3"><table width="539" border="0" cellspacing="0">
      <tr>
        <td colspan="2" bgcolor="#31514A"><img src="../Img/titulos_virtual_pagos.jpg" width="109" height="16" /></td>
      </tr>
      <tr>
        <td colspan="15"></td>
      </tr>
      <tr>
        <td width="10"><img src="../Img/img_pagempresa/Link_01.jpg" width="10" height="8" /></td>
        <td width="318" class="Estilo2">Pagar con tarjeta de Cr&eacute;dito </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="175" class="textoempresa">Monto US$</td>
    <td width="50" class="textoempresa">:</td>
    <td width="308"><input name="txtMontoTC" type="text" class="Borde_tabla_abajo" onkeypress="IngresarTexto(1)" maxlength="10" /></td>
  </tr>
  <tr>
    <td class="textoempresa">N&ordm; de Cta. de Tarjeta</td>
    <td class="textoempresa">:</td>
    <td><input name="txtNTarjeta" type="text" class="Borde_tabla_abajo" maxlength="20" /></td>
  </tr>
  <tr>
    <td class="textoempresa">Banco emisor de la Tarjeta</td>
    <td class="textoempresa">:</td>
    <td><input name="txtBanco" type="text" class="Borde_tabla_abajo" onkeypress="IngresarTexto(2)" maxlength="30" /></td>
  </tr>
  <tr>
    <td class="textoempresa">Tipo Cambio</td>
    <td class="textoempresa">:</td>
    <td><input name="txtTCT" type="text" disabled="disabled" class="Borde_tabla_abajo" /></td>
  </tr>
  <tr>
    <td class="textoempresa">Pesos a depositar</td>
    <td class="textoempresa">:</td>
    <td><input name="txtTotalT" type="text" disabled="disabled" class="Borde_tabla_abajo" /></td>
  </tr>
  <tr>
    <td class="textoempresa">&nbsp;</td>
    <td class="textoempresa"><div align="right"><img src="../Img/igual.jpg" width="13" height="9" /></div></td>
    <td><div align="left">
      <input name="cmdEnviarTC" type="button" class="textoempresa" style="cursor: hand" value="Enviar" />
    </div></td>
  </tr>
</table>
<table class="borde" border="1" id="tabPaso1" cellspacing="0" cellpadding="1" style="position: relative; top: 10; left: 6;">
  <tr>
    <td bgcolor="#31514A" style="cursor: hand" onclick="UltimosGiros"><img src="../Img/titulos_virtual_Giros.jpg" width="130" height="16" /></td>
  </tr>
  <tr>
    <td style="cursor: hand" onclick="UltimosGiros"><img border="0" id="imgTransferencia" src="../images/Transferencia.jpg" style="cursor: hand" width="19" height="22" onclick="UltimosGiros" /><span class="textoempresa">Ultimos
      Giros</span></td>
  </tr>
  <tr height="10">
    <td colspan="5" bgcolor="#CCCCCC" class="textoempresa"><strong>Datos del Beneficiario</strong></td>
  </tr>
  <tr>
    <td colspan="5"><table cellspacing="0" cellpadding="1">
      <tr height="15">
        <td></td>
        <td colspan="2"><span class="textoempresa">Nombres</span><br />
              <input name="txtNombreB" class="Borde_tabla_abajo" style="HEIGHT: 22px; WIDTH: 300px" onkeypress="IngresarTexto(2)" value="<%=sNombreB%>" size="25" onblurs="window.frmGiro.txtNombreB.value=MayMin(Trim(window.frmGiro.txtNombreB.value))" /></td>
        <td colspan="2"><span class="textoempresa">Apellidos</span><br />
              <input name="txtApellidoB" class="Borde_tabla_abajo" style="HEIGHT: 22px; WIDTH: 200px" onkeypress="IngresarTexto(2)" value="<%=sApellidoB%>" size="25" onblurs="window.frmGiro.txtApellidoB.value=MayMin(Trim(window.frmGiro.txtApellidoB.value))" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="5"><table border="0" cellspacing="0" cellpadding="1">
      <tr height="15">
        <td></td>
        <td colspan="2"><span class="textoempresa">Direcci&oacute;n</span><br />
              <input name="txtDireccionB" class="Borde_tabla_abajo" style="HEIGHT: 22px; WIDTH: 280px" onkeypress="IngresarTexto(3)" value="<%=sDireccionB%>" size="50" onblurs="window.frmGiro.txtDireccionB.value=MayMin(Trim(window.frmGiro.txtDireccionB.value))" /></td>
        <td><span class="textoempresa">Pa&iacute;s</span><br />
              <select name="cbxPaisB" class="textoempresa" style="width: 120px">
                <%	
						CargarUbicacion 1, "", sPais 	
					%>
              </select>
        </td>
        <td colspan="1"><span class="textoempresa">Ciudad</span><br />
              <select name="cbxCiudadB" class="textoempresa" style="width: 160px">
                <%	
                  CargarCiudadesPais sPais, sCiudad 
					%>
              </select>
        </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="5"><table border="0" cellspacing="0" cellpadding="1">
      <tr height="15">
        <td width="8"></td>
        <td width="218" colspan="1"><span class="textoempresa">Tel&eacute;fono</span><br />
              <input name="txtPaisFonoB" disabled="disabled" class="Borde_tabla_abajo" style="width: 40px" value="<%=nDDIPais%>" />
              <input name="txtAreaFonoB" disabled="disabled" class="Borde_tabla_abajo" style="width: 40px" value="<%=nDDICiudad%>" />
              <input name="txtFonoB" class="Borde_tabla_abajo" style="width: 90px" onkeypress="IngresarTexto(1)" value="<%=sFonoB%>" size="10" maxlength="10" />
        </td>
        <td width="383"><span class="textoempresa">Mensaje al Beneficiario</span><br />
              <input name="txtMensajeB" class="Borde_tabla_abajo" style="font-family: verdana; font-size: 9pt; HEIGHT: 21px; WIDTH: 380px" onkeypress="IngresarTexto(3)" value="<%=Request.Form("txtMensajeB")%>" size="255" onblurs="window.frmGiro.txtMensajeB.value=MayMin(Trim(window.frmGiro.txtMensajeB.value))" />
        </td>
      </tr>
    </table></td>
  </tr>
  <tr height="15">
    <td colspan="5" bgcolor="#CCCCCC"><span class="textoempresa"><strong>Datos del Agente Pagador</strong></span></td>
  </tr>
  <tr height="15">
    <td colspan="5"><%If sPais = "CL" Then%>
        <img border="0" src="../images/Transferencia.jpg" style="cursor: hand; display: " width="19" height="22" onclick="window.open 'http:../Sucursales.asp?Region=13'" />
        <%End If%></td>
  </tr>
  <tr>
    <td colspan="5"><table cellspacing="1" cellpadding="1" id="tbPagador">
      <tr height="15" style="display: <%=sDisplay%>">
        <%If sPais <> "CL" Then%>
        <td></td>
        <td colspan="2"><%	
					Dim sDisabled
				
					If bGiroNacional Then sDisabled = "disabled"								
				%>
              <input type="radio" name="optOtroAgt" checked="checked"  style="border: 0" <%=sDisabled%> />
              <span class="textoempresa">Red AFEX
                </input>
              </span><img src="../images/Transferencia.jpg" name="imgAgtPagador" width="19" height="22" border="0" id="imgAgtPagador" style="cursor: hand; display: " onclick="window.open 'http:../agente/ListaAgtPagador.asp?pa=<%=sPais%>&amp;ci=<%=sCiudad%>'" /> &nbsp;&nbsp;&nbsp;
              <input type="radio" name="optMG" style="border: 0" <%=sDisabled%> />
              <span class="textoempresa">Red MoneyGram
                </input>
              </span> <img src="../images/Transferencia.jpg" name="imgRedMoneyGram" width="19" height="22" border="0" id="imgRedMoneyGram" style="cursor: hand; display: " onclick="window.open 'http://www.moneygram.com/servlet/DefaultApplyXSL?xslURL=/Display/temgweb.xsl&amp;URL=/Apps/AgentLocator/AgentSearch.jsp'" /> <br />
              <select name="cbxPagador" class="Borde_tabla_abajo" style="width: 250px">
                <%	If sCiudad <> "" Then
							If sPagador <> Session("CodigoMGEnvio") Then
								CargarAgentePagador sPais, sCiudad, sPagador, 1
							Else
								CargarAgentePagador sPais, sCiudad, "", 1
							End If
						End If
					%>
              </select>        </td>
        <td valign="bottom"><span class="textoempresa">Moneda</span><br />
              <% If bGiroNacional Then %>
              <select name="cbxMonedaGiro" class="Borde_tabla_abajo" style="width: 130px; background-color: <%=sColorMoneda%>; color: white; font-weight: bold">
                <% Else %>
                <select name="cbxMonedaGiro" style="width: 130px; background-color: <%=sColorMoneda%>; color: white; font-weight: bold" disabled>
                <% End If %>
                <%	
					'response.Write sPagador & ", " &  sPais & ", " & sCiudad & ", " & sMoneda
					If sPagador <> "" Then
						CargarMonedaGiro sPagador, sPais, sCiudad, sMoneda
					End If
				%>
              </select>        </td>
        <td valign="bottom" style="display: none"><span class="textoempresa">Moneda de Pago</span><br />
              <select name="cbxMonedaPago" disabled="disabled" class="Borde_tabla_abajo" style="width: 130px">
                <%	
					'response.Write sPagador & ", " &  sPais & ", " & sCiudad & ", " & sMoneda
					If sPagador <> "" Then
						CargarMonedaGiro sPagador, sPais, sCiudad, sMoneda
					End If
					%>
              </select>        </td>
        <%End If%>
      </tr>
      <tr height="10">
        <td></td>
        <td><span class="textoempresa">Monto</span><br />
              <input name="txtMonto" class="Borde_tabla_abajo" style="HEIGHT: 22px; TEXT-ALIGN: right; WIDTH: 120px; background-color: <%=sColorMoneda%>; color: white; font-weight: bold" onkeypress="IngresarTexto(1)" value="<%=FormatNumber(nMonto, nDec)%>" size="15" />
             <td> <img style="display: <%=sDisplay%>" border="0" height="22" id="imgCalcular" name="imgCalcular" onmouseover="imgCalcular.style.cursor ='Hand'" src="../images/BotonFlechaDerecha.jpg" style="LEFT: 0px; POSITION: relative; TOP: 5px" width="21"> </td>
        <td style="display:"><span class="textoempresa">Tarifa</span><br />
              <input name="txtTarifaSugerida" disabled="disabled" class="Borde_tabla_abajo" style="HEIGHT: 22px; TEXT-ALIGN: right; WIDTH: 120px; background-color: <%=sColorMoneda%>; color: white; font-weight: bold" size="15" />
          &nbsp;&nbsp;&nbsp;&nbsp; </td>
        <td style="display: <%=sDisplay%>"><span class="textoempresa">Total</span><br />
              <input name="txtTotal" disabled="disabled" class="Borde_tabla_abajo" style="HEIGHT: 22px; TEXT-ALIGN: right; WIDTH: 120px; background-color: <%=sColorMoneda%>; color: white; font-weight: bold" size="15" />        </td>
      </tr>
      <%If sPais <> "CL" Then%>
      <tr height="10">
        <td></td>
        <td><span class="textoempresa"><strong>Dep&oacute;sito para AFEX</strong></span><br />
              <input type="radio" name="optPesos" />
              <span class="textoempresa">Pesos</span>
              </input>
          <input type="radio" name="optDolares" />
              <span class="textoempresa">D&oacute;lares</span>
              </input>        </td>
        <td style="display:"><span class="textoempresa">T. Cambio</span><br />
          <input name="txtTipoCambio" disabled="disabled" class="Borde_tabla_abajo" style="HEIGHT: 22px; TEXT-ALIGN: right; WIDTH: 120px; background-color: <%=sColorMoneda%>; color: white; font-weight: bold" value="<%=Request.Form("txtTipoCambio")%>" size="15" /></td>
        <td style="display:"><span class="textoempresa">Monto Pesos</span><br />
              <input name="txtMontoPesos" disabled="disabled" class="Borde_tabla_abajo" style="HEIGHT: 22px; TEXT-ALIGN: right; WIDTH: 120px; background-color: <%=sColorMoneda%>; color: white; font-weight: bold" value="<%=Request.Form("txtMontoPesos")%>" size="15" />        </td>
      </tr>
      <%End If%>
    </table></td>
  </tr>
  <tr height="0">
    <td><img border="0" id="imgAceptar" onclick="onclick" src="../images/BotonAceptar.jpg" style="LEFT: 461px; POSITION: relative; TOP: 0px; cursor: hand" width="70" height="20" /></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
