vti_encoding:SR|utf8-nl
vti_author:SR|JMIRANDA
vti_cachedlinkinfo:VX|
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|21 Jan 2005 14:29:09 -0000
vti_filesize:IX|841
vti_modifiedby:SR|JMIRANDA
vti_backlinkinfo:VX|visorap/apprecioproducto.asp login.htm visorap.asp monedasap/fc.asp default.asp visorap/operaciones.asp visorap/apaperturapunta.asp visorap/apmoneda.asp visorap/visorap.asp visorap/utilidad.asp iniciosesion.asp
vti_cacheddtm:TX|04 Feb 2005 18:18:46 -0000
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|03 Feb 2005 15:54:55 -0000
vti_extenderversion:SR|3.0.2.1706
vti_timelastmodified:TR|03 Feb 2005 15:54:55 -0000
