vti_encoding:SR|utf8-nl
vti_author:SR|JMIRANDA
vti_cachedlinkinfo:VX|
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|11 Mar 2004 14:51:21 -0000
vti_filesize:IX|318
vti_modifiedby:SR|JMIRANDA
vti_backlinkinfo:VX|sucursal/detallecliente.asp sucursal/listaclientes.asp
vti_cacheddtm:TX|11 Mar 2004 15:28:13 -0000
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|11 Mar 2004 15:24:20 -0000
vti_extenderversion:SR|3.0.2.1706
vti_timelastmodified:TR|11 Mar 2004 15:24:20 -0000
