vti_encoding:SR|utf8-nl
vti_author:SR|JMIRANDA
vti_cachedlinkinfo:VX|
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|08 Oct 2003 20:25:30 -0000
vti_filesize:IX|472
vti_modifiedby:SR|JMIRANDA
vti_cacheddtm:TX|11 Mar 2004 14:54:06 -0000
vti_backlinkinfo:VX|compartido/consultatipocambio.asp compartido/detalletransfer.asp cliente/consultasgiros.asp agente/detallegiro.asp agente/oficinaspago.asp agente/enviartransfer.asp agente/listaclientes.asp agente/vendertarjeta.asp agente/noexiste.asp agente/consultasgiros.asp agente/lugarespago.asp agente/listatarjeta.asp agente/enviarcheque.asp agente/listasaldomonedas.asp agente/listatransfer.asp agente/listagirosold.asp agente/cuentacorriente.asp agente/listacheque.asp agente/listacompraventa.asp agente/detallegiro\\ old.asp compliance/consultacompraventa.asp agente/listagiros.asp
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|08 Oct 2003 20:25:30 -0000
vti_extenderversion:SR|3.0.2.1706
vti_timelastmodified:TR|08 Oct 2003 20:25:30 -0000
