vti_encoding:SR|utf8-nl
vti_author:SR|Jfmiranda
vti_cachedlinkinfo:VX|S|normal-bg.gif S|title-bg.gif S|menuarrow.gif S|title-bg.gif S|title-bg.gif S|hover-bg.gif S|active-bg.gif S|dark-bg.gif S|dark-bg.gif S|rowhover-bg.gif S|hover-bg.gif S|active-bg.gif S|status-bg.gif S|normal-bg.gif S|hover-bg.gif S|active-bg.gif S|dark-bg.gif S|normal-bg.gif S|hover-bg.gif S|active-bg.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|24 Jan 2006 16:48:19 -0400
vti_filesize:IX|5576
vti_modifiedby:SR|Jfmiranda
vti_backlinkinfo:VX|
vti_cacheddtm:TX|24 Jan 2006 15:48:19 -0400
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|24 Jan 2006 16:48:19 -0400
vti_extenderversion:SR|3.0.2.926
vti_timelastmodified:TR|26 Jan 2006 13:15:19 -0400
